$label-text: #73828a;
$value-text: #ffffff;
$bg-image: url('../src/assets/cloud.jpg');

$themes: (
  clouds: (
    main-color: #b24a53,
    bg-image: url('../src/assets/clouds.jpg'),
    icon-image: url('../src/assets/icons/clouds.png'),
    label-text: #668198,
  ),
  clear: (
    main-color: #3c85dd,
    bg-image: url('../src/assets/clear.jpg'),
    icon-image: url('../src/assets/icons/clear.png'),
    label-text: #3b3b3b,
  ),
  mist: (
    main-color: #828983,
    bg-image: url('../src/assets/mist.jpg'),
    icon-image: url('../src/assets/icons/mist.png'),
    label-text: #5a6972,
  ),
  rain: (
    main-color: #4a6085,
    bg-image: url('../src/assets/rain.webp'),
    icon-image: url('../src/assets/icons/rain.png'),
    label-text: #354c4f,
  ),
  snow: (
    main-color: #537da5,
    bg-image: url('../src/assets/snow.jpg'),
    icon-image: url('../src/assets/icons/snow.png'),
    label-text: #52696e,
  ),
);


@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
